<font face="Verdana">

This is not the final version!<br>
<%= "#{@user.first_name} #{@user.last_name}" %>,<br>
<%= @data[:announcement] %> new announcements<br>
<%= @data[:job_announcement] %> new job opportunities<br>
<%= @data[:stock] %> new stock announcements<br>
<%= @data[:wall_post] %> new wall posts<br>
<%= @data[:profile_edit] %> new profile changes<br>
</font>
