<div id="pageTitle">Job Announcements
  <font class="insidePageTitle">
	<%= link_to 'post an announcement', :action => 'post' %>
  </font>
</div><br>

<%= render :partial => 'job_announcement/job_announcement' %>
